/*!
 * Start Bootstrap - Business Casual v4.1.1 (https://startbootstrap.com/template-overviews/business-casual)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-casual/blob/master/LICENSE)
 */
body {
    font-family: Lora;
    background: url(../img/bg3.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1 {
    font-family: Raleway;
}
h2 {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 20px;
    text-align: center;
    color: #7a7373;

}
h3 {
    font-family: Raleway;
    font-size: 20px;
    margin: 15px;
}
h4, h5 {
    font-family: Raleway;
    font-size: 15px;
    margin: 10px;
}
/*for members of congress*/
h6{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 20px;
}
li {
    color: rgb(105, 105, 105);
}
p {
    line-height: 1;
    color: black;
    margin: 5px;
}

strong {
  background: rgb(255, 105, 180);
  color: white;
  font-weight: inherit;
}

.text-faded {
    color: rgba(255, 255, 255, .3);
}
.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: Raleway;
}
.site-heading .site-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
}
.site-heading .site-heading-lower {
    font-size: 5rem;
    font-weight: 300;
    line-height: 4rem;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff7bf, 0 0 10px #000;

   
}
.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.section-heading {
    text-transform: uppercase;
}
.section-heading .section-heading-upper {
    display: block;
    font-size: 1rem;
    font-weight: 800;
    color: rgb(96, 96, 96);
}
.section-heading .section-heading-lower {
    display: block;
    font-size: 2rem;
    font-weight: 100;
    color: white;
}

.dropdown-menu-scroll {
  height: 200px;
  overflow-y: scroll;
}

/* Inactive tab */
.tab > a {
    background-color: rgb(224, 224, 224);
    color: black;
}
.tab > a:hover {
    background-color: rgb(219, 234, 255);
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tabBackground {
  background-color: rgba(255,255,255,.5);
}

#mainNav {
    background-color: rgb(128, 128, 128, .4);
    font-family: Raleway;
}
#mainNav .navbar-brand {
    color: rgb(238, 232, 170);

}
#mainNav .navbar-nav .nav-item .nav-link {
    color: white;
    font-weight: 800;
}
#mainNav .navbar-nav .nav-item.active .nav-link {
    color: #ffdfe3;
}
@media (min-width:992px) {
    #mainNav .navbar-nav .nav-item .nav-link {
    font-size: .9rem;
}
#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #ffffcc;
}
#mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffcc;
}
}.btn-xl {
    font-weight: 700;
    font-size: .8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.intro {
    position: relative;
}
@media (min-width:992px) {
    .intro .intro-img {
    width: 20%;
    float: left;
}
.intro .intro-text {
    left: 30%;
    width: 70%;
    margin-top: -1rem;
    position: absolute;
}
.intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
}
}@media (min-width:1200px) {
    .intro .intro-text {
    width: 80%}
}.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgba(230, 167, 86, .9);
}
.cta .cta-inner {
    position: relative;
    padding: 3rem;
    margin: .5rem;
    background-color: rgba(255, 255, 255, .85);
}
.cta .cta-inner:before {
    border-radius: .5rem;
    content: '';
    position: absolute;
    top: -.5rem;
    bottom: -.5rem;
    left: -.5rem;
    right: -.5rem;
    border: .25rem solid rgba(255, 255, 255, .85);
}
@media (min-width:992px) {
    .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
}
.about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
}
}@media (min-width:992px) {
    .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
}
.product-item .product-item-img {
    position: relative;
    z-index: 0;
    max-width: 60vw;
}
.product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
}
}.list-hours {
    font-size: .9rem;
}
.list-hours .list-hours-item {
    border-bottom: 1px solid rgba(230, 167, 86, .5);
    padding-bottom: .25rem;
    margin-bottom: 1rem;
    font-style: italic;
}
.list-hours .list-hours-item.today {
    font-weight: 700;
    color: #e6a756;
}
@media (min-width:992px) {
    .list-hours {
    width: 50%;
    font-size: 1.1rem;
}
}.address strong {
    font-size: 1.2rem;
}
.footer {
    background-color: rgba(47, 23, 15, .9);
}
.text-primary {
    color: #e6a756!important;
}
.btn {
    box-shadow: 0 3px 3px 0 rgba(33, 37, 41, .1);
}
.btn-primary {
    background-color: #e6a756;
    border-color: #e6a756;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #df902a;
    border-color: #df902a;
}
.font-weight-light {
    font-weight: 100!important;
}


/*background div on each page*/
.pageBox {
  background-color: rgba(255,255,255,.5);
  margin: 30px;
}

.column {
  float: left;
  width: 50%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*column and row for instance pages*/
.linkColumn {
  float: left;
  width: 50%;

}

.linkRow:after {
  content: "";
  display: table;
  clear: both;
}

.modelColumn {
  float: left;
  width: 33.33%;

}

/* Clear floats after the columns */
.modelRow:after {
  content: "";
  display: table;
  clear: both;
}

.billDisplay{
    margin: 15px;
}



/*images and background on model pages */
.modelIcon {
    width: 375px;
    height: 450px;
    background-color: rgba(255,255,255,.5);
    text-align: center;
    border-style: ridge;
    border-width: 3px;
    border-color: #ffdfe3 ;



}

.modelInfo {
    text-align: justify-all;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.modelIcon-link {
    width: 350px;
    height: 350px;
    background-color: rgba(255,255,255,.5);
    text-align: center;
    border-style: ridge;
    border-width: 3px;
    border-color: rgb(91,91,91) ;
}


.modelThumbnail{
    width: 225px;
    height: 225px;
    align-items: justify-all;

}

/*map on issue page*/
.issueMap{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.memberMap{
    width: 600px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;


}
/*slide show on homepage*/
.carousel.slide{
    display: inline-block;

}
.carousel-inner > .carousel-item {
 height: 400px;
 width: 800px;
   -webkit-transition:all 0s ease-in-out;
  -moz-transition:all 0s ease-in-out;
  -o-transition:all 0s ease-in-out;
  transition:all 0s ease-in-out;

 
}
.carousel-inner > .carousel-item > img {
 height: 400px;
 width: 400px; 

  
 
}
.bd-example {
   text-align: center;
}

.indexText{
    width: 100px; 
   height: 50px;
   text-align: center;
   align-content: center;

}

.indexThumbnail{
    align-content: center;
    width: 50px; 
   height: 50px;
}
.indexThumbnail > img {
   width: 50px; 
   height: 50px;
   
}

/*pictures on about page*/
.thumbnail > img {
   width: 350px; /* You can set the dimensions to whatever you want */
   height: 350px;
   object-fit: cover;
   margin: 10px;
   float: center;
}

/*changes model pages to 1 column on phones*/
@media screen and (max-width: 600px) {
  .modelColumn {
    width: 100%;
  }
}

/*table on the about page*/
table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px;
    border-collapse:
    collapse; border-spacing: 0;
    opacity: .8;
}

td, th {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold;
    text-align: center
}

td {
    background: #FAFAFA;
    text-align: center;
}

.pagination {
   justify-content: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; }

tr td:hover { background: #666; color: #FFF; }
/* Hover cell effect! */


/*about tool icon*/
.toolIcon > img {
   width: 200px; /* You can set the dimensions to whatever you want */
   height: 200px;
   object-fit: cover;
   margin: 10px;
   float: center;
}

